#lo de la bd
DB_HOST=db
DB_PORT=27017
DB_USER=usuario_ejemplo
DB_PASSWORD=clave_ejemplo
DB_NAME=tp_integrador

# para el backend
API_PORT=3000
JWT_SECRET=secreto

# para el frontend
VITE_API_URL=http://localhost:3000/api